.gridcontainer {
  margin: auto;
  width: 500px;
  height: 500px;
  border: 1px solid grey;
  background-color: grey;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.gridcontainer > div {
  display: flex;
  flex: 1;
  gap: 1px;
}

.gridcontainer > div > div{
  flex: 1;
  background-color: whitesmoke;
  box-sizing: border-box;
}

.gridcontainer > div > .blackcell {
  background-color: black;
}
