body {
  height: 100vh;
  display: flex;
  background-color: lightskyblue;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gridcontainer {
  width: 500px;
  height: 500px;
  border: 1px solid grey;
  background-color: grey;
  display: flex;
  flex-direction: column;
  gap: 1px;
  border: 2px solid grey;
}

.gridcontainer > div {
  display: flex;
  flex: 1;
  gap: 1px;
}

.gridcontainer > div > div{
  flex: 1;
  background-color: white;
  box-sizing: border-box;
}

.gridcontainer > div > .blackcell {
  background-color: black;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  text-align: center;
  margin: 0;
}

.interfacecontainer {
  display: flex;
  justify-content:space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 640px;
  width: 780px;
  margin: auto;
  background-color: orange;
  border: 5px solid black;
  border-radius: 20px;
}


button, input {
  display: inline-block;
  border: 2px solid black;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  background: #0053ba;
}

button:active {
  transform: scale(0.99);
}

input {
  padding: 0;
  width: auto;
  height: 48.5px;
  border: 2px solid black;
}

.buttonhighlight {
  background: #0053ba;
  transform: scale(0.99);
  box-shadow: inset 0 0 10px black;
}